.contact {
  background: #0f172a;
  width: 100%;
  min-height: 100vh;
  color: white;
  padding: 2em;
  text-align: center;
}

.contactHeading {
  color: #ecaf05;
  margin: 1em 0px;
  font-size: bold;
  font-size: 30px;
}

.para {
  line-height: 1.5;
}

.fields {
  display: grid;
}

.names {
  text-align: left;
  margin-bottom: 6px;
  margin-top: 2em;
  font-size: medium;
}

.input {
  padding: 8px;
  border: 1px solid white;
  background: #0f172a;
  height: 3em;
  font-size: 17px;
  border-radius: 8px;
  color: rgb(219, 219, 219);
}

.textarea {
  height: 4em;
}

.button {
  width: 100%;
  height: auto;
  padding: 12px;
  background: rgb(74, 123, 255);
  border-radius: 8px;
  color: white;
  font-size: bold;
  font-size: 18px;
  margin-top: 2em;
  border: 1px solid rgb(64, 64, 201);
}

.success{
    text-align: center;
    color: green;
    font-size: bold;
    margin-top : 1em
}

.error{
    color: red;
    margin-top: 1em;
}